{% extends 'blocks/main.html' %}
{% block title %}Add podium{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-horizontal">
            <label for="podiumDescription">Description of the podium:</label>
            <div class="form-group">
                <textarea class="form-control" rows="5" id="podiumDescription" style="resize: none;"></textarea>
            </div>

            <button type="button" class="btn btn-primary btn-block" id="addPodiumButton">Add podium</button>
        </form>
    </div>
    <script type="text/javascript">
        $("#addPodiumButton").on('click', function() {
            var postBody = {podiumDescription: $("#podiumDescription").val()}

            $.post("/api/podium", postBody, function(data) {
                window.location = "/podia?success=true"
            })
        })
    </script>
{% endblock %}