{% extends 'blocks/main.html' %}
{% block title %}Delete a band{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-horizontal">
            <label for="band">Band:</label>
            <div class="form-group">
                <select class="form-control" id="band">
                    {% for item in bands %}<option value="{{ item[0] }}">{{ item[1] }}</option>{% endfor %}
                </select>
            </div>

            <button type="button" class="btn btn-primary btn-block" id="deleteBandButton">Delete band</button>
        </form>
    </div>

    <script type="text/javascript">
        $("#deleteBandButton").on('click', function() {
            $.ajax({
                url: '/api/band',
                type: 'DELETE',
                data: {bandId: $("#band").val()},
                success: function(result) {
                    window.location.reload()
                }
            })
        })
    </script>
{% endblock %}