{% extends 'blocks/main.html' %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Welcome!</h1>
            <p class="lead">EventManager is a simple webapp to manage festivals/events. The application is split into four different parts: artist management, band management, podium/stage management and performance management. The codebase is object-oriented and easy to extend, feel free to commit your work. EventManager uses a combination of sqlite3 and Jinja2/Flask to serve its functionality.</p>
        </div>
    </div>
{% endblock %}