{% extends 'blocks/main.html' %}
{% block title %}Modify band{% endblock %}

{% block content %}
    <div class="container">
        <form class="form-horizontal">
            <label for="bandName">Name of the band:</label>
            <div class="form-group">
                <input type="text" class="form-control" id="bandName">
            </div>

            <label for="bandDescription">Description of the band:</label>
            <div class="form-group">
                <textarea class="form-control" rows="5" id="bandDescription" style="resize: none;"></textarea>
            </div>

            <button type="button" class="btn btn-primary btn-block" id="addBandButton">Modify band</button>
        </form>
    </div>
    <script type="text/javascript">
        const bandToUpdate = "{{ bandId }}"

        $.get("/api/band?bandId="+bandToUpdate, function(data) {
            $("#bandName").val(data[0].bandName)
            $("#bandDescription").val(data[0].bandDescription)
        })

        $("#addBandButton").on('click', function() {
            var patchBody = {bandId: bandToUpdate, bandName: $("#bandName").val(), bandDescription: $("#bandDescription").val()}

            $.ajax({
                url: "/api/band",
                method: "patch",
                data: patchBody
            }).done(function(data) {
                // todo: user notification after success
            })
        })
    </script>
{% endblock %}