{% extends 'blocks/main.html' %}
{% block title %}View performances{% endblock %}

{% block content %}
    <div class="container">
        {% if isSuccess %}
            <div class="alert-success alert-mod">
                Performance added/modified succesfully!
            </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading">Performances</div>
            
            <table class="table table-hover table-lg">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Start date</th>
                        <th scope="col">End date</th>
                        <th scope="col">Podium</th>
                        <th scope="col">Band/artist</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in performances %}
                    <tr>
                        <th scope="row">{{ item[0] }}</th>
                        <td>{{ item[1] }}</td>
                        <td>{{ item[2] }}</td>
                        <td>{{ item[3] }}</td>
                        <td>{{ item[4] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script type="text/javascript">
        $("tbody tr").on("click", function() {
            window.location = "/performances/"+$(this).find("th:first").text()
        })
    </script>
{% endblock %}
